
.cls-sim {color: gold;}
.cls-ope {color: crimson;}
.cls-value-num {color: rgb(226, 5, 255);}
.cls-str {color: greenyellow;}
.cls-com {color: grey;}
.cls-name {color: white;}
.cls-name-nr {color: deepskyblue;}
.cls-name-var {color: orange; font-style: italic;}