$bgcolor: #ccc;
$font-color: #444;

@font-face {
    font-family: "jet";
    src: url("/font/jet.TTF");
}
@font-face {
    font-family: "imp";
    src: url("/font/imp.woff2");
}

.page {
    background-color: #666;
}

* {
    padding: 0%;
    margin: 0%;
    font-family: "jet";
    font-size: 15px;
    color: #ccc;
}

.flex {
    display: flex;
}
.c-v {align-items: center;}
.c-h {justify-content: center;}

.medio {
    display: flex;
    justify-content: center;
    align-items: center;
}
.spacing {justify-content: space-around;}

.suelo {
    width: calc(100% - 40px);
    height: max-content;
    padding: 20px;

    background-color: $font-color;
    color: $bgcolor;
    
}

.imgb {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

.dilink {
    border-radius: 50%;
    box-shadow: 0px 0px 10px white;
    background-color: #333;
    cursor: pointer;
    transition: 0.4s;
}
.dilink:hover {
    transform: scale(1.2);
}

.bt{
    cursor: pointer;
    font-family: jet;
    font-size: 18px;
}

.up_bt {
    display: flex;

    .bt{
        color: darkgray;
        float: right;
        margin: 20px
    }
}

.head {
    @extend .suelo;

    
    justify-content: space-between;


}

.land {display: none;}
.port {display: none;}
@media (orientation:portrait) {
    .port {display: block;}
    .aco {flex-direction: column;}
    
}
@media (orientation:landscape) {
    .land {display: block;}
    .aco {flex-direction: row;}
    
}