p{
    text-align: left;
    font-size: 15px;
    padding: 10px;
    color: #aaf;
}

a{
    color: greenyellow;
}

.block {
    border-radius: 20px;
    padding: 20px;
    width: calc(100px - 40px);
    height: max-content;
}

.gold{color: gold;}
.green{color: yellowgreen;}
.red{color: crimson;}
.blue{color: dodgerblue;}
.orange {color: orange;}
.purple {color: rgb(204, 0, 255);}
.fu {color: fuchsia;}

hr {
    margin: 20px;
}

code {
    margin-top: 20px;
    margin-bottom: 20px;
    width: calc(100% - 40px);
    height: max-content;
    appearance: auto;
    overflow: auto;
}

.h-num {
    font-weight: bold;
    line-height: 200%;
    padding: 10px
}

h1 {
    @extend .h-num;
    font-size: 30px;
}
h2 {
    @extend .h-num;
    font-size: 27px;
}
h3 {
    @extend .h-num;
    font-size: 24px;
}
h4 {
    @extend .h-num;
    font-size: 20px;
}
h5 {
    @extend .h-num;
    font-size: 18px;
}
h6 {
    @extend .h-num;
    font-size: 16px;
}



